#slide_card {
    height: inherit;
    width: inherit;
    background-color: rgb(227, 233, 233);
    transition: background-color 0.3s;
}

#slide_card:hover {
    background-color: rgb(185, 185, 185);
}


#row_slides {
    margin-left: 5px;
    margin-right: 5px;
}

.cards_icons {
    margin-right: 8px;
}

.new_slide_button {
    background-color: #F5B912;
}


.thumbnail  {
    background-color: rgb(255, 255, 255);
    height: 190px;
    width: 100%;
    padding: 7px 10px 7px;
   
    overflow: hidden;
}

.thumbnail h1 {
font-size: 20px;
}

.thumbnail h2 {
    font-size: 15px;
}
    
.thumbnail h3 {
    font-size: 13px;
}
.thumbnail h4 {
    font-size: 12px;
}
.thumbnail h5 {
    font-size: 11px;
}
.thumbnail h6 {
    font-size: 10px;
}

.thumbnail p {
    font-size: 13px;
}

.thumbnail li {
    font-size: 12px;
}
.thumbnail img {
    margin-top: 10px;
    width: 100%;
}

.card a {
    color: black;
  }
.card a:hover {
    color: black;
}


